@import 'reset';
@import 'fonts';

%title-style {
    font-family: 'Anton';
    color: #000000;
    text-transform: uppercase;
}

%trans-link {
    transition: all ease-in-out 0.2s;
}

%header-link {
    @extend %trans-link;
    font-size: 1vw;
    font-family: 'Anton';
    color: #FFFFFF
}

%link-hover {
    opacity: 0.5;
}

%flex-between {
    display: flex;
    justify-content: space-between;
}

h3,
h4 {
    @extend %title-style;
}

.container {
    padding: 0 213px;
}

// header

.h-el {
    position: relative;
    top: -100;
    opacity: 0,
}

header {
    margin-bottom: 100px;
    padding-top: 57px;
    padding-bottom: calc(150px + 1250*(24% - 300px)/1420);
    background: url('../image/header-bg.jpg') 0 0 / 100% no-repeat;
}

.header-burger {
    display: none;
}

header .header-logo {
    margin-right: 70px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    @extend %header-link;
    margin-right: 40px;
}

header nav ul li a:hover {
    @extend %link-hover
}

header nav ul li a:active {
    @extend %link-hover
}

header nav ul li a:focus-visible {
    @extend %link-hover
}

header .header-contact a:hover {
    @extend %link-hover
}

header .header-contact a:active {
    @extend %link-hover
}

header .header-contact a:focus-visible {
    @extend %link-hover
}

header .header-contact a {
    @extend %header-link;
}

.header-contact {
    margin-left: auto;
}

.head {
    display: flex;
    align-items: center;
    margin-bottom: calc(50px + (1500 - 350) * ((214px - 80px) / (1920 - 500)));
}

// hero in header

.hero-el {
    position: relative;
    left: -100;
    opacity: 0;
}

.hero {
    text-transform: uppercase;
    @extend %header-link;
}

.hero .hero-content p {
    font-size: 3vw;
    line-height: 45px;
    margin-bottom: 10px;
}

.hero .hero-content h2 {
    font-size: 7vw;
    margin-bottom: 19px;
}

.hero .hero-content .hero-btn {
    font-size: 2vw;
    color: #FFFFFF;
    background-color: unset;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    padding: 20px 50px;
    @extend %trans-link;
    cursor: pointer;
}

.hero .hero-content .hero-btn:hover {
    @extend %link-hover
}

.hero .hero-content .hero-btn:active {
    @extend %link-hover
}

.hero .hero-content .hero-btn:focus-visible {
    @extend %link-hover
}

// about

.about-el-left {
    position: relative;
    left: -100;
    opacity: 0;
}

.about-el-right {
    position: relative;
    left: 100;
    opacity: 0;
}

.about {
    margin-bottom: 100px;
}

.about .about-content h3 {
    @extend %title-style;
    font-size: 3vw;
    margin-bottom: 70px;
}

.about .about-content .about-blocks {
    @extend %flex-between;
}

.about-blocks .about-block {
    position: relative;
    height: calc(350px + 1250*(50vw - 17vw)/1420);
    width: 49%;
}

.about-block h4 {
    @extend %title-style;
    font-size: 2vw;
    margin-bottom: 30px;
}

.about-block p {
    font-family: "OpenSans";
    font-size: 1vw;
    line-height: 34px;
}

.about-block .about-block-images {
    @extend %flex-between;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.about-block1 img {
    width: 47.3%;
}

.about-block2 img {
    width: 100%;
}

// footer

footer .footer-content {
    font-family: "OpenSans";
    padding-bottom: 80px;
}

footer .footer-content span {
    font-size: 1vw;
    margin-right: 70px;
}

footer .footer-content a {
    font-size: 1vw;
    @extend %trans-link;
    color: #000000;
}

footer .footer-content a:hover {
    @extend %link-hover
}

footer .footer-content a:active {
    @extend %link-hover
}

footer .footer-content a:focus-visible {
    @extend %link-hover
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .container {
        padding: 0 150px;
    }

    // about

    .about-block p {
        line-height: 26px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        padding: 0 50px;
    }

    // header

    .hero,
    header .header-contact a,
    header nav ul li a {
        font-size: 20px;
    }

    header {
        margin-bottom: 30px;
    }

    // about

    .about .about-content h3 {
        font-size: 50px;
    }

    .about-block p {
        font-size: 18px;
        line-height: 30px
    }

    .about-block h4 {
        font-size: 33px;
    }

    .about-blocks .about-block {
        min-height: 700px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

    .container {
        padding: 0 35px;
    }

    // header

    .head {
        margin-bottom: 30px;
    }

    header {
        padding-top: 30px;
        background-size: cover;
        margin-bottom: 30px;
        padding-bottom: 80px;
    }

    .header .head .header-nav {
        z-index: 10;
        padding-top: 36px;
        padding-left: 36px;
        width: 60%;
        top: 0;
        height: 100vh;
        transition: all ease-in-out 0.2s;
        position: absolute;
        right: -100vw;
        background-color: rgba(0,0,0,0.9);
    }

    .header .head .open-nav {
        right: 0;
    }

    .header-list__item {
        margin-bottom: 33px;
    }

    .header-list {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
    }

    .header nav ul li a {
        font-size: 24px;
    }

    .header-burger {
        z-index: 11;
        margin-left: 31px;
        display: block;
        width: 27px;
        height: 20px;
        position: relative;
        cursor: pointer;
    }

    .header-burger:hover {
        opacity: 0.5;
    }

    .burger-line {
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: #FFFFFF;
    }

    .burger-line:first-child {
        top: 0;
    }

    .burger-line:nth-child(2) {
        top: 47%;
    }

    .burger-line:last-child {
        bottom: 0;
    }

    .active-burger .burger-line:nth-child(2){
        transform: translateX(-50%) translateY(0) rotate(45deg);
        transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s;
        bottom: 50%;
    }

    .active-burger .burger-line:first-child {
        top: 47%;
        transform: translateX(-50%) translateY(0) rotate(-45deg);
        transition: bottom .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) ,transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s;
    }

    .active-burger .burger-line:last-child {
        opacity: 0;
    }


    .hero,
    header .header-contact a {
        font-size: 17px;
    }

    // hero

    .hero .hero-content .hero-btn {
        font-size: 30px;
    }

    .hero .hero-content h2 {
        font-size: 62px;
    }

    .hero .hero-content p {
        font-size: 34px;
    }

    .hero .hero-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    // about 

    .about {
        margin-bottom: 60px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
    }

    .about .about-content h3 {
        margin-bottom: 30px;
        font-size: 42px;
    }

    .about .about-content .about-blocks {
        flex-direction: column;
    }

    .about-block h4 {
        font-size: 32px;
    }

    .about-blocks .about-block {
        position: relative;
        height: auto;
        width: 100%;
    }

    .about-block .about-block-images {
        position: unset;
    }

    .about-block p {
        font-size: 19px;
        margin-bottom: 25px;
        line-height: 32px;
    }

    .about-block1 {
        margin-bottom: 50px;
    }

    // footer

    footer .footer-content span,
    .footer .footer-content a {
        font-size: 15px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 576px) {

    .container {
        padding: 0 20px;
    }

    // header

    .hero,
    header .header-contact a,
    header nav ul li a {
        font-size: 13px;
    }

    // hero

    .hero .hero-content h2 {
        font-size: 47px;
    }

    .hero .hero-content p {
        font-size: 25px;
    }

    .hero .hero-content .hero-btn {
        font-size: 22px;
    }

    // about

    .about-block .about-block-images {
        flex-direction: column;
    }

    .about-block1 img {
        width: 100%;
    }

    .about-block1 img:first-child {
        margin-bottom: 25px;
    }

    .about .about-content h3 {
        font-size: 36px;
    }

    .about-block h4 {
        font-size: 27px;
    }

    .about-block p {
        font-size: 17px;
    }

    // footer

    footer .footer-content {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    footer .footer-content span {
        margin-bottom: 25px;
        margin-right: 0;
    }
}